<% content_for :title do %>About<% end %>
<% content_for :description do %>About Eric Schulz Chicago<% end %>
<section>
<h2>About Eric Schulz</h2>
<p>Dunno.  Not much</p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>