<% content_for :title do %>About<% end %>
<% content_for :description do %>About Eric Schulz Chicago<% end %>
<section>
<h2>About Eric Schulz</h2>
<h4>Dunno.  Not much</h4>
<h4>His favorite quotation is:</h4>
<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
</section>